<section class="bg-dark" id="about">

  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b>About Me</b></h2>
      <hr class="light">
    </div>
  </div>
  
  <div class="container">
    <div class="row">      
      <div class="col-lg-12 text-left ex1">
        <!-- <h4 class="text-faded text-justify" style="padding-left:7em; padding-right:7em; margin: 0 auto"> -->
        <h4 class="text-faded text-justify" style="margin: 0 auto">
          I am currently a Ph.D. Candidate in Applied Statistics at the 
          <u><a href="https://www.uoguelph.ca">University of Guelph</a></u>
          and I am in my third year of doctoral studies.
          I <u><a href="https://drive.google.com/file/d/1-jK43hDeFP2_G91acbaT3BofvYT16zwQ/view?usp=sharing">
            passed my qualifying exam</a></u> in March, 2018 and I am in the process of completing the research 
          component of my thesis.
          My Ph.D. advisors are <u><a href="https://mathstat.uoguelph.ca/people/kim">Dr. Peter Kim</a></u> 
          and <u><a href="https://mathstat.uoguelph.ca/people/desmond">Dr. Tony Desmond</a></u>.
          I am part of the bioinformatics research group at which includes 
          <u><a href="https://mathstat.uoguelph.ca/people/feng">Dr. Zeny Feng</a></u>.
          <br/>
          <br/>
          My research interests are in various classes of statistical models over higher-dimensional surfaces
          with applications to data in the sciences.
          I have examined the relationship between the parameters of the generalized Kent distribution and
          the exponential model with a generalized tesseral harmonic basis; I have
          developed the Beran LASSO for data over <i>S<sup>p-1</sup></i> using a Watson kernel density estimator
          and developed a test for model selection for directional data in higher dimensions.
          I am currently running simulations and applying the statistical framework developed for real data.
          <br/>
          <br/>
          My Erd&#246;s number is 4. <!—- and my Dijkstra number is 6.—->
        </h4>
      </div>
    </div>
  </div>
  
  <br>
  <br>


  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>
  </center> 

</section>
