<section class="bg-dark" id="about">

  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b>About Me</b></h2>
      <hr class="light">
    </div>
  </div>
  
  <div class="container">
    <div class="row">      
      <div class="col-lg-12 text-left ex1">
        <!-- <h4 class="text-faded text-justify" style="padding-left:7em; padding-right:7em; margin: 0 auto"> -->
        <h4 class="text-faded text-justify" style="margin: 0 auto">
          I am currently a Ph.D. Candidate in Applied Statistics at the 
          <u><a href="https://www.uoguelph.ca" target="_blank">University of Guelph</a></u> 
          and I am in my third year of doctoral studies.
          I <u><a href="https://drive.google.com/file/d/1-jK43hDeFP2_G91acbaT3BofvYT16zwQ/view?usp=sharing" target="_blank">
          passed my qualifying exam</a></u> 
          in March, 2018 and I am in the process of completing the research component of my thesis.
          My Ph.D. advisors are <u><a href="https://mathstat.uoguelph.ca/people/kim" target="_blank">Dr. Peter Kim</a></u> 
          and <u><a href="https://mathstat.uoguelph.ca/people/desmond" target="_blank">Dr. Tony Desmond</a></u>.
          I am part of the bioinformatics research group which includes 
          <u><a href="https://mathstat.uoguelph.ca/people/feng" target="_blank">Dr. Zeny Feng</a></u>.
          <br/>
          <br/>
          My research interests are on various classes of statistical models over higher-dimensional surfaces
          with applications to data in the sciences.
          I am particularly interested in densities over the hyper-sphere $\mathbb{S}^{p-1}$.
          I have examined the relationship between the parameters of the generalized Kent distribution and
          the exponential model with a generalized tesseral harmonic basis described by Dai and Xu; 
          I have developed the Beran LASSO for data over <!-- <i>S<sup>p-1</sup></i> -->
          $\mathbb{S}^{p-1}$ using a Watson kernel density estimator and I have developed a test for model selection 
          which can be applied for directional data in higher dimensions.
          I am currently running simulations and applying the statistical framework developed for real data.
          <br/>
          <br/>
          I have been accredited as an <u><a href="https://ssc.ca/en/accreditation/directory/contact/2586" target="_blank">
          Associate Statistician (A.Stat.)</a></u> by the 
          <u><a href="https://ssc.ca/en" target="_blank"> Statistics Society of Canada (SSC)</a></u>.
          <!--
          I am also interested in working with a 
          <u><a href="https://ssc.ca/en/accreditation/mentorship-program" target="_blank">P.Stat. mentor</a></u>.
          <br/>
          <br/> -->
          My Erd&#246;s number is 3 (Verified using the 
          <u><a href="https://mathscinet.ams.org/mathscinet/collaborationDistance.html" target="_blank">
          Collaboration Distance Tool</a></u> 
          by 
          <u><a href="https://mathscinet.ams.org/" target="_blank"> 
          MathSciNet</a></u>).
          <!-- and my Dijkstra number is 6. -->
          <!-- MathJax example -->
          <!--
            When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
            $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
          -->
        </h4>
      </div>
    </div>
  </div>
  
  <br>
  <br>
  
  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>
  </center> 

</section>
