<section class="bg-dark" id="about">

  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b>About Me</b></h2>
      <hr class="light">
    </div>
  </div>
  
  <div class="container">
    <div class="row">
        
      <div class="col-lg-12 text-left ex1">
        <!-- <h4 class="text-faded text-justify" style="padding-left:7em; padding-right:7em; margin: 0 auto"> -->
        <h4 class="text-faded text-justify" style="margin: 0 auto">
          I am currently a Ph.D. Candidate in Applied Statistics at the 
          <u><a href="https://www.uoguelph.ca">University of Guelph</a></u>.
          I passed my qualifying exam in March, 2018.
          My Ph.D. supervisors are <u><a href="https://mathstat.uoguelph.ca/people/kim">Dr. Peter Kim</a></u> 
          and <u><a href="https://mathstat.uoguelph.ca/people/desmond">Dr. Tony Desmond</a></u>.
          <br/>
          <br/>
          My research interests are in various classes of statistical models over higher-dimensional surfaces.
          I have examined the relationship between the parameters of the generalized Kent distribution and
          the exponential model with a generalized tesseral harmonic basis; I have
          developed the Beran LASSO for data over S<sup>p-1</sup> using a Watson kernel density esimator
          and developed a test for model selection for directional data in higher dimensions.
          I am currently running simulations and applying the statistical framework developed for real data.
        </h4>
      </div>

    </div>
  </div>
  
  <br>
  <br>


  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>
  </center> 

</section>
