<section class="bg-dark" id="accreditation">

  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b>Accreditation</b></h2>
      <hr class="light">
    </div>
  </div>
  
  <section id="academic" style="padding-left:0em; padding-top:1em; padding-bottom:0em">
  
  <div class="container">
    <div class="row ex1">
      <h4>Associate Statistician 
        <span style="float:right;">2019</span>
      </h4>
      <h4 class="text-muted"><i>Statistics Society of Canada</i></h4>
    </div>
  </div>
  
  </section>
  
  <br>
  <br>
  
  <center>
    <a href="#page-top" class="btn btn-primary btn-xl page-scroll section">Back to top</a>
  </center>
  
</section>
