<section id="awards">
    
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b>Awards and Honours</b></h2>
      <hr class="primary">
    </div>
  </div>
    
  <div class="container">
    <div class="row ex1">
      <h4>Ontario Graduate Scholarship 
        <span style="float:right;">2019 - 2020</span>
      </h4>
      <h4 class="text-muted"><i>Government of Ontario and University of Guelph</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Ontario Graduate Scholarship 
        <span style="float:right;">2018 - 2019</span>
      </h4>
      <h4 class="text-muted"><i>Government of Ontario and University of Guelph</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Deans' Scholarship 
        <span style="float:right;">2018 - 2019</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>International HPC Summer School Scholarship <i>(Czech Republic)</i>
        <span style="float:right;">2018</span>
      </h4>
      <h4 class="text-muted"><i>SciNet HPC Consortium</i></h4>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row ex1">
      <h4>Deans' Scholarship 
        <span style="float:right;">2017 - 2018</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Craduate Student Scholarship <i>(Summer)</i>
        <span style="float:right;">2012</span>
      </h4>
      <h4 class="text-muted"><i>York University</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Craduate Student Scholarship <i>(Winter)</i>
        <span style="float:right;">2012</span>
      </h4>
      <h4 class="text-muted"><i>York University</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Craduate Student Scholarship <i>(Fall)</i>
        <span style="float:right;">2011</span>
      </h4>
      <h4 class="text-muted"><i>York University</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Entrance Scholarship
        <span style="float:right;">2011</span>
      </h4>
      <h4 class="text-muted"><i>York University</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>CIMPA Summer School Scholarship <i>(Tunisia)</i>
        <span style="float:right;">2011</span>
      </h4>
      <h4 class="text-muted"><i>Centre International de Math&eacutematiques Pures et Appliquees (CIMPA)</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>ICIAM Travel Grant <i>(Vancouver, BC)</i>
        <span style="float:right;">2011</span>
      </h4>
      <h4 class="text-muted"><i>International Council for Industrial and Applied Mathematiques (ICIAM)</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>CMS Travel Awards <i>(Edmonton, AB)</i>
        <span style="float:right;">2011</span>
      </h4>
      <h4 class="text-muted"><i>Canadian Mathematical Society (CMS)</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>CANADAM Travel Award <i>(Victoria, BC)</i>
        <span style="float:right;">2011</span>
      </h4>
      <h4 class="text-muted"><i>Canadian Discrete andd Algorithmic Mathematics (CANADAM)</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>ISM Winter School <i>(Montreal, QC)</i>
        <span style="float:right;">2011</span>
      </h4>
      <h4 class="text-muted"><i>Institute des Science Math&eacutematiques (ISM)</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Deans' Scholarship
        <span style="float:right;">2009 - 2010</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Fields Institute Travel Award <i>(Toronto, ON)</i>
        <span style="float:right;">2009</span>
      </h4>
      <h4 class="text-muted"><i>York University</i></h4>
    </div>
  </div>
    
  <br>
    
  <div class="container">
    <div class="row ex1">
      <h4>Honour Roll for Mathematics
        <span style="float:right;">2011</span>
      </h4>
      <h4 class="text-muted"><i>University of Toronto</i></h4>
    </div>
  </div>
    
  <br>
  <br>
  <br>
    
  <center>
    <a href="#page-top" class="btn btn-primary btn-xl page-scroll section">Back to top</a>
  </center>
    
</section>
