<section class="bg-dark" id="conferences">
    
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b>Conference Presentations</b></h2>
      <hr class="light">
      <h4 class="text-faded">For a complete list of presentations, posters, thematic programs attended etc., please see my
        <u><a class="page-scroll" href="#cv">curriculum vitae</a></u>.
      </h4>
      <br>
    </div>
  </div>
    
    
  <!-- <section class="bg-dark" id="presentations" style="padding-top:0em; margin:0em"> -->
  <section class="bg-dark" id="presentations" style="padding-left:0em; padding-top:1em; padding-bottom:2em">
      
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>Recent Presentations</b></h3>
        </div>
      </div>
    </div>
    <br>
      
    <div class="container-fluid">
      <div class="row no-gutter">
          
        <div class="col-lg-4 col-sm-6 text-center">
          <a href="" class="portfolio-box">
            <img src="img/pictures/comet.jpg" class="img-responsive wow zoomIn" 
              data-wow-delay="0.00s" data-wow-duration="0.25s">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  An Exponential Model for Comets <br> (COMING SOON) </br>
                </div>
                <div class="text-faded">
                  Southern Ontario Graguate Matheamtics and Statistics Conference, 2019
                </div>
              </div>
            </div>
          </a>
          <h4>An exponential model for comets</h4>
        </div>
        
        <div class="col-lg-4 col-sm-6 text-center">
          <a href="https://drive.google.com/file/d/1bjge6Bvp6WRivafq3d4ffAWVBH4mCurx/view?usp=sharing" class="portfolio-box">
            <img src="img/pictures/oranges.jpg" class="img-responsive wow zoomIn" 
              data-wow-delay="0.20s" data-wow-duration="0.25s">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Connections between Beran's Exponential Model and the FB-5 Distribution on S<sup>d-1</sup>
                </div>
                <div class="text-faded">
                  Southern Ontario Graguate Matheamtics and Statistics Conference, 2018
                </div>
              </div>
            </div>
          </a>
          <h4>Connections between Beran's Exponential Model and the FB-5 Distribution on S<sup>d-1</sup></h4>
        </div>
        
        <div class="col-lg-4 col-sm-6 text-center">
          <a href="https://drive.google.com/file/d/1Kd2H1dKVjZIfwZXF2bo6PaA_G9VSUxrW/view?usp=sharing"
            class="portfolio-box">
            <img src="img/pictures/virus.jpg" class="img-responsive wow zoomIn" 
              data-wow-delay="0.40s" data-wow-duration="0.25s">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Within-Host HIV Dynamics: The Emergence of Drug Resistance
                </div>
                <div class="text-faded">
                  York Univesrity Mathematical Modeling in Biology, 2014
                </div>
              </div>
            </div>
          </a>
          <h4>Within-Host HIV Dynamics: The Emergence of Drug Resistance</h4>
        </div>
        
      </div>
    </div>
    
  </section>


  <section class="bg-dark" id="posters" style="padding-left:0em; padding-top:1em; padding-bottom:3em">
      
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>Recent Posters</b></h3>
        </div>
      </div>
    </div>
    <br>  
    
    <div class="container-fluid">
      <div class="row no-gutter">
        
        <div class="col-lg-4 col-sm-6 text-center">
          <a href="https://drive.google.com/file/d/1iljUcwlrBGsGrJ31R0SmVGdg-mopXc1Y/view?usp=sharing" class="portfolio-box">
            <img src="img/pictures/server_room.jpg" class="img-responsive wow zoomIn" 
              data-wow-delay="0.00s" data-wow-duration="0.25s">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  BOLD.R for HPC
                </div>
                <div class="text-faded">
                  International High Percformance Computing Summer School, 2018
                </div>
              </div>
            </div>
          </a>
          <h4>BOLD.R for HPC</h4>
        </div>
        
        <div class="col-lg-4 col-sm-6 text-center">
          <a href="https://drive.google.com/file/d/1ZxJecayOXMkk4Or81M2j6e0X5NULnfq1/view?usp=sharing" class="portfolio-box">
            <img src="img/pictures/leopard.jpg" class="img-responsive wow zoomIn" 
              data-wow-delay="0.20s" data-wow-duration="0.25s">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  BOLD.R: An R library to interface with the Barcode of Life Database System (BOLD) directly through R.
                </div>
                <div class="text-faded">
                  Canadian Society for Ecology and Evolution Meeting, 2018
                </div>
              </div>
            </div>
          </a>
          <h4>BOLD.R: An R library to interface with the Barcode of Life Database System (BOLD) directly through R.</h4>
        </div>
        
        <div class="col-lg-4 col-sm-6 text-center">
          <a href="https://drive.google.com/file/d/1Qx3Y6GI5WRU8WldziUoBgHe1RNCl3rfO/view?usp=sharing" class="portfolio-box">
            <img src="img/pictures/ceramic_plate.jpg" class="img-responsive wow zoomIn" 
              data-wow-delay="0.40s" data-wow-duration="0.25s">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Higher Rank Numerical Ranges of Normal Operators
                </div>
                <div class="text-faded">
                  Canadian Mathematical Society Meeting, 2011
                </div>
              </div>
            </div>
          </a>
          <h4>Higher Rank Numerical Ranges of Normal Operators</h4>
        </div>
        
      </div>
    </div>
    
  </section>

  <br>
  <br>
  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>
  </center>

</section>
