<section id="contactme" class="no-padding">
  <div class="container" align="center">
  <div class="row" align="left">
  <center>
    <br>
    <br>
    <br>
    <h2 class="section-heading"><b>Contact</b></h2>
    <hr class="primary">
  </center>
  
  
  <!-- Google Map, Addess and Email -->
  <div class="container">
    <div class="row">
      
      <!-- Google Mal -->
      
      <div style="padding: 0px 50px 0px 0px;" class="col-lg-7 contact">
        <div style="padding: 0px 50px 0px 0px;" class="service-box contact">
          <head>
            <style>
              /* Set the size of the div element that contains the map */
              #map {
              height: 425px;  /* The height is 400 pixels */
              width: 137%;    /* The width is the width of the web page */
              }
            </style>
          </head>
          <body>
            <center>
              <div id="map"></div>
              <script>
                // Initialize and add the map
                function initMap() {
                  // The location of MacNaughton
                  var macn = {lat: 43.530706, lng: -80.227486};
                  // The map, centered at MacNaughton
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 15.90, center: macn});
                  // The marker, positioned at MacNaughton
                  var marker = new google.maps.Marker({position: macn, map: map});
                }
                    
              </script>
                <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY_GOES_HERE&callback=initMap"> -->
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWfDD6VIEZe7f-BZKlxo8LwKRbEjZ4MRU&callback=initMap">
              </script>
            </center>
          </body>
        </div>
      </div>
      
      <!-- Address and Email -->
      
      <div class="col-lg-5 text-left contact">
        <div class="service-box">
          <h3>Office Address</h3>
          <br>
          <h4> MacNaughton Building, Room 315 </h4>
          <h4> Department of Mathematics and Statistics </h4>
          <h4> University of Guelph </h4>
          <h4> 50 Stone Road East </h4>
          <h4> Guelph, ON, N1G 2W1 </h4>
          <h4> Canada </h4>
          <br>
          <br>
          <h3>Email</h3>
          <br>
          <h4> mudalign [at] uoguelph [dot] ca </h4>
        </div>
      </div>
    </div>
  </div>
    
  
  <!-- Stack overflow, etach exchange, email, github -->
  <div class="container">
    <div class="row">

      <br>
      
      <div class="col-lg-3 text-center">
        <div class="service-box">
          <div style="text-align:center;" class="test wow bounceIn text-primary">
            <a href="https://stackoverflow.com/users/8447442/nm">
              <svg viewBox="0 0 120 120" preserveAspectRatio="xMidYMid" height="6.0em" class="section">
                <style>.so0{fill:#bcbbbb}.so1{fill:#f48023}
                </style>
                <path class="so0" d="M84.4 93.8V70.6h7.7v30.9H22.6V70.6h7.7v23.2z"/>
                <path class="so1" d="M38.8 68.4l37.8 7.9 1.6-7.6-37.8-7.9-1.6 7.6zm5-18l35 16.3 3.2-7-35-16.4-3.2 7.1zm9.7-17.2l29.7 24.7 4.9-5.9-29.7-24.7-4.9 5.9zm19.2-18.3l-6.2 4.6 23 31 6.2-4.6-23-31zM38 86h38.6v-7.7H38V86z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="service-box">
          <div style="text-align:center;" class="test wow bounceIn text-primary">
            <a href="https://stackexchange.com/users/11527422/nm">
              <svg viewBox="0 0 120 120" preserveAspectRatio="xMidYMid" height="5.5em" class="section">
                <style>.se0{fill:#376db6}.se1{fill:#4ca2da}.se2{fill:#91d8f4}.se3{fill:#1e5397}
                </style>
                <path class="se0" d="M22.4 57.5h74.8v15.4H22.4z"/>
                <path class="se1" d="M22.4 37.6h74.8V53H22.4z"/>
                <path class="se2" d="M85.5 17H34.4c-6.6 0-12 5.5-12 12.3v4h74.8v-4C97.2 22.5 92 17 85.5 17z"/>
                <path class="se3" d="M22.4 77.3v4c0 6.8 5.4 12.3 12 12.3h32v16.3l15.8-16.3h3.5c6.6 0 12-5.5 12-12.3v-4H22.4z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="service-box">
          <div style="text-align:center;" class="test wow bounceIn text-primary">
            <a href="mailto:mudalign@uoguelph.ca">
              <svg viewBox="0 -225 2000 2000" preserveAspectRatio="xMidYMid" height="5.5em" class="section">
                <g>
                  <path fill="#FFFFFF" stroke="#0690CF" stroke-width="99" stroke-miterlimit="10" d="M1871.5,1317.178 c0,43.808-35.514,79.322-79.322,79.322H206.822c-43.808,0-79.322-35.514-79.322-79.322V185.822 c0-43.808,35.514-79.322,79.322-79.322h1585.356c43.808,0,79.322,35.514,79.322,79.322V1317.178z"/>
                  <polyline fill="#FFFFFF" stroke="#0690CF" stroke-width="99.1527" stroke-miterlimit="10" points="183.622,160.435 1005.488,888.727 1827.354,160.435 "/>
                  <line fill="#FFFFFF" stroke="#0690CF" stroke-width="99.1527" stroke-miterlimit="10" x1="1181.759" y1="691.511" x2="1860.404" y2="1366.863"/>
                  <line fill="none" stroke="#0690CF" stroke-width="99.1527" stroke-miterlimit="10" x1="822.606" y1="691.511" x2="143.961" y2="1366.863"/>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="service-box">
          <div style="text-align:center;" class="test wow bounceIn text-primary">
            <a href="https://github.com/nishanmudalige/">
              <svg viewBox="0 0 1024 1024" preserveAspectRatio="xMidYMid" height="5.0em" class="section">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#1B1F23"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <br>
  <br>
    
  <center>
    <a href="#page-top" class="btn btn-primary btn-xl page-scroll section">Back to top</a>
  </center>
    
  <br>
  <br>
  <br>
  <br>
    
</section>
