<section class="bg-dark" id="cv">
    
  <div class="container">
    <div class="row text-center">
        
      <h2 class="section-heading"><b> Curriculum Vitae </b></h2>
      <hr class="light">
      <h4 class="text-faded">View my complete curriculum vitae below.</h4>
        
      <br>
        
      <div class="wow tada">
        <a href="https://drive.google.com/file/d/1vUwvKPo5ihBEA7nAnUOwy3dWfmICraR0/view?usp=sharing" 
           class="btn btn-default btn-xl section">Curriculum Vitae</a>
      </div>
        
      <br>
      
      <div class="col-lg-1">
      </div>
      
      <div class="col-lg-10 text-center">
      <h4 class="text-faded">Please note that a watermark is present in the interest of preventing identity theft 
          and to prevent the duplication of my CV using OCR software.</h4>
      <div>
        
      <div class="col-lg-1">
      </div>
        
    </div>
  </div>
    
</section>
