<section class="bg-dark" id="cv">

  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b>About Me</b></h2>
      <hr class="light">
    </div>
  </div>
  
  <div class="container">
    <div class="row">      
      <div class="col-lg-12 text-left ex1">
        <h4 class="text-faded text-justify" style="margin: 0 auto">
          Please click on the link below to view my complete curriculum vitae.
        </h4>
        <br>
        <div class="wow tada">
          <a href="https://drive.google.com/file/d/1vUwvKPo5ihBEA7nAnUOwy3dWfmICraR0/view?usp=sharing" 
             class="btn btn-default btn-xl section">Curriculum Vitae</a>
        </div>
        <br>
        <h4 class="text-faded text-justify">
          Please note that a watermark is present in the interest of preventing identity theft 
          and to prevent the duplication of my CV using OCR software.
          If you would like a copy without the watermark, please contact me directly by email.
        </h4>
      </div>
    </div>
  </div>
  
  <br>
  <br>


  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>
  </center> 

</section>
