<section class="bg-dark" id="cv">
    
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b> Curriculum Vitae </b></h2>
      <hr class="light">
      <h4 class="text-faded">View my complete curriculum vitae below.</h4>
        
      <br>
        
      <div class="wow tada">
        <a href="https://drive.google.com/file/d/1jIoe1aDD4rW04gU_xgwJ0TOtov5MbTal/view?usp=sharing" 
           class="btn btn-default btn-xl section">Curriculum Vitae</a>
      </div>
    </div>
  </div>
    
</section>
