<section class="bg-primary" id="education">
    <div class="container">
        <div class="row text-center">
                <h2 class="section-heading"><b>Education</b></h2>
                <hr class="light">
                <!-- <hr class="primary"> -->
        </div>
    </div>

    
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>Ph.D. in Applied Statistics 
                    <span style="float:right;">Sep 2016 - Present</span></h4>
                <h4 class="text-faded"><i>University of Guelph
                    <span style="float:right;">Guelph, ON, Canada</span></i></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
    
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>M.A. in Applied Statistics <i>(Part Time)</i> 
                    <span style="float:right;">Sep 2011 - Jun 2015</span></h4>
                <h4 class="text-faded"><i>York University
                    <span style="float:right;">Toronto, ON, Canada</span></i></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
    
    <div class="container">
        <div class="row ex1">
            <!--<div class="col-lg-14 text-left ex1">-->
                <h4>M.Sc. in Applied Mathematics 
                    <span style="float:right;">Sep 2008 - Aug 2010</span></h4>
                <h4 class="text-faded"><i>University of Guelph
                    <span style="float:right;">Guelph, ON, Canada</span></i></h4>
            <!--</div>-->
        </div>
    </div>

    <br>
    
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>B.Sc. (with Honours) in Mathematics and Statistics
                    <span style="float:right;">Sep 2003 - Jun 2007</span></h4>
                <h4 class="text-faded"><i>University of Toronto
                    <span style="float:right;">Toronto, ON, Canada</span></i></h4>
            <!-- </div> -->
        </div>
    </div>

    <!--
    <br>
    <div class="col-lg-12 text-center">
    <br>
    <br>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll">Back to top</a>
    </div>
    <br>
    <br>
    -->
  
  
    <br>
    <br>
    <br>

    <center>
      <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>   
    </center>

</section>
