<section id="experience">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading"><b>Work Experience</b></h2>
      <hr class="primary">
      <h4>For a detailed work history, please see my
        <u><a class="page-scroll" href="#cv">curriculum vitae</a></u>.
      </h4>
      <br>
    </div>
  </div>
  
  <section id="consulting" style="padding-left:0em; padding-top:1em; padding-bottom:0em">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-14 text-left">
        <h3 class="section-heading"><b>Statistical Consulting and Research</b></h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row ex1">
      <h4>Software Programming Assistant 
        <span style="float:right;">Jun 2017 - Aug 2018</span>
      </h4>
      <h4 class="text-muted"><i>Biodiversity Institute of Ontario (BIO)
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row ex1">
      <h4>Research Assistant in Statistics
        <span style="float:right;">May 2015 - Aug 2015</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph (For Dr. Peter Kim)
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row ex1">
      <h4>Statistical Research Analyst
        <span style="float:right;">Jun 2013 - Aug 2013</span>
      </h4>
      <h4 class="text-muted"><i>Ontario Council of Agencies Serving Immigrants (OCASI)
        <span style="float:right;">Toronto, ON, Canada</span></i>
      </h4>
    </div>
  </div>
  <br>  
  <div class="container">
    <div class="row ex1">
      <h4>Statistical Consultant
        <span style="float:right;">Jan 2013 - Apr 2013</span>
      </h4>
      <h4 class="text-muted"><i>Datassist (Care of York University practicum)
        <span style="float:right;">Toronto, ON, Canada</span></i>
      </h4>
    </div>
  </div>
  <br>  
  <div class="container">
    <div class="row ex1">
      <h4>Research Assistant
        <span style="float:right;">May 2011 - Aug 2011</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph (Project funded by GlaxoSmithKline)
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
    </div>
  </div>
    
  </section>
  
  <section id="teaching" style="padding-left:0em; padding-top:2em; padding-bottom:0em">

  <div class="container">
    <div class="row">
      <div class="col-lg-14 text-left">
        <h3 class="section-heading"><b>Univeristy Teaching</b></h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row ex1">
      <h4>Sessional Instructor in Statistics 
        <span style="float:right;">Sep 2018 - Dec 2018</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
      <h5>&emsp; Course:&thinsp; 
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2040.shtml">
        STAT*2040 DE</a></u> 
      </h5>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row ex1">
      <h4>Sessional Instructor in Statistics 
        <span style="float:right;">Sep 2014 - Dec 2014</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
      <h5>&emsp; Course:&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2060.shtml">
        STAT*2060</a></u>
        &thinsp;and&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2080.shtml">
        STAT*2080</a></u>
      </h5>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row ex1">
      <h4>Sessional Instructor in Statistics 
        <span style="float:right;">Sep 2013 - Apr 2014</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
      <h5>&emsp; Course:&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2060.shtml">
        STAT*2060</a></u> 
      </h5>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row ex1">
      <h4>Sessional Instructor in Statistics 
        <span style="float:right;">May 2011 - Aug 2011</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
      <h5>&emsp; Course:&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2040.shtml">
        STAT*2040</a></u> 
      </h5>
    </div>
  </div>

  </section>
  
  
  <section id="teaching-related" style="padding-left:0em; padding-top:2em; padding-bottom:0em">    
    
  <div class="container">
    <div class="row">
      <div class="col-lg-14 text-left">
        <h3 class="section-heading"><b>Univeristy Teaching Related</b></h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row ex1">
      <h4>Teaching Assistant 
        <span style="float:right;">Sep 2016 - Present</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
      &emsp; 
      <h5 style="line-height:1.5em;" class="col-lg-9">
        Courses:&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/math1080.shtml">
        MATH*1080</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/guelphhumber/2018-2019/courses/scma2080.shtml">
        SCMA*2080</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2040.shtml">
        STAT*2040</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2040.shtml">
        STAT*2040 DE</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2050.shtml">
        STAT*2050</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2060.shtml">
        STAT*2060 DE</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2080.shtml">
        STAT*2060 DE</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat2230.shtml">
        STAT*2230</a></u>
        &thinsp;and&thinsp;
        <u><a href="https://mathstat.uoguelph.ca/tutoring">
        the statistics learning centre</a></u>.
      </h5>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row ex1">
      <h4>Teaching Assistant 
        <span style="float:right;">Sep 2011 - May 2013</span>
      </h4>
      <h4 class="text-muted"><i>York University
        <span style="float:right;">Toronto, ON, Canada</span></i>
      </h4>
      &emsp; 
      <h5 style="line-height:1.5em;" class="col-lg-9">
        Courses:&thinsp;
        <u><a href="https://w2prod.sis.yorku.ca/Apps/WebObjects/cdm.woa/wa/hiscrs">
        MATH 1131</a></u>,&thinsp;
        <u><a href="https://w2prod.sis.yorku.ca/Apps/WebObjects/cdm.woa/wa/hiscrs">
        MATH 2565</a></u>,&thinsp;
        <u><a href="https://w2prod.sis.yorku.ca/Apps/WebObjects/cdm.woa/wa/hiscrs">
        MATH 2570</a></u>,&thinsp;
        <u><a href="https://w2prod.sis.yorku.ca/Apps/WebObjects/cdm.woa/wa/hiscrs">
        ECON 1540</a></u>,&thinsp;
        <u><a href="https://w2prod.sis.yorku.ca/Apps/WebObjects/cdm.woa/wa/hiscrs">
        NATS 1500</a></u>
        &#8239;and&#8239;
        <u><a href="http://mathstats.info.yorku.ca/our-programs/need-help/">
        the statistics lab</a></u>.
      </h5>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row ex1">
      <h4>Teaching Assistant 
        <span style="float:right;">Sep 2008 - Apr 2010</span>
      </h4>
      <h4 class="text-muted"><i>University of Guelph
        <span style="float:right;">Guelph, ON, Canada</span></i>
      </h4>
      &emsp; 
      <h5 style="line-height:1.5em;" class="col-lg-9">
        Courses:&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/math1080.shtml">
        MATH*1080</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/math3200.shtml">
        MATH*3200</a></u>,&thinsp;
        <u><a href="https://www.uoguelph.ca/registrar/calendars/undergraduate/current/courses/stat3110.shtml">
        STAT*3110</a></u>,&thinsp;
        <u><a href="https://mathstat.uoguelph.ca/tutoring">
        the mathematics learning centre</a></u>
        &thinsp;and&thinsp;
        <u><a href="https://mathstat.uoguelph.ca/tutoring">
        the statistics learning centre</a></u>.
      </h5>
    </div>
  </div>
  
  </section>
  
  <br>
  <br>
  <br>
  <center>
    <a href="#page-top" class="btn btn-primary btn-xl page-scroll section">Back to top</a>
  </center>
</section>
