<header class="header-content-inner">

  <div class="fullscreen-video-wrap">
    <video src="/vid/math_equations.mp4" autoplay="" loop="", muted="">
  </div>
    
  <div class="header-overlay">
  </div>
    
  <div class="header-content text-md-center">
    <h1 class="onTop wow fadeInUp" data-wow-duration="1.6s" data-wow-delay="0.0s"><b>Nishan Mudalige</b></h1>

    <br>
    <br>
    
    <h3 class="text-faded wow fadeInDown" data-wow-duration="1.6s" data-wow-delay="0.25s">
      Hello and welcome to my website!
    </h3>
    <h3 class="text-faded wow fadeInDown" data-wow-duration="1.6s" data-wow-delay="0.25s">
      Please note that this site is currently under construction.
    </h3>
    
    <br>
    
    <a href="#about" class="btn btn-primary btn-xl wow fadeIn page-scroll section mybtn"
      data-wow-duration="1.0s" data-wow-delay="1.00s" >Find Out More</a>

  </div>
    
</header>
