<section class="bg-primary" id="membership">
    <div class="container">
        <div class="row text-center">
                <h2 class="section-heading"><b>Current Professional Membership</b></h2>
                <hr class="light">
                <!-- <hr class="primary"> -->
        </div>
    </div>

    
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>Society for Applied and Industrial Mathematicians (SIAM)
                    <span style="float:right;">2016 &ndash; Present</span></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
    
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>Statistical Society of Canada (SSC)
                    <span style="float:right;">2018 &ndash; Present</span></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
  
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>Institute of Mathematical Statistics (IMS)
                    <span style="float:right;">2018 &ndash; Present</span></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
  
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>Institute of Mathematics and its Applications (IMA)
                    <span style="float:right;">2018 &ndash; Present</span></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
  
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>Royal Statistical Society
                    <span style="float:right;">2018 &ndash; Present</span></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
  
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>American Mathematics Society (AMS)
                    <span style="float:right;">2018 &ndash; Present</span></h4>
            <!-- </div> -->
        </div>
    </div>
    
    <br>

  
    <div class="container">
        <div class="row ex1">
            <!-- <div class="col-lg-14 text-left ex1"> -->
                <h4>Bernoulli Society
                    <span style="float:right;">2018 &ndash; Present</span></h4>
            <!-- </div> -->
        </div>
    </div>

    <br>
    <br>
    <br>

    <center>
      <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>   
    </center>

</section>
