<style>
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: pink !important;}
</style>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">

   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Nishan Mudalige</a>
    </div>
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#page-top">Home</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#profile">Profile</a>
        </li>
        <li>
          <a class="page-scroll" href="#education">Education</a>
        </li>
        <li>
          <a class="page-scroll" href="#awards">Awards</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle disabled page-scroll" data-toggle="dropdown" href="#publications">
          Publications
          </a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="#refereed">Refereed Publications</a></li>
            <li><a class="page-scroll" href="#textbooks">Textbooks</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle disabled page-scroll" data-toggle="dropdown" href="#conferences">
          Conferences
          </a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="#presentations">Presentations</a></li>
            <li><a class="page-scroll" href="#posters">Posters</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle disabled page-scroll" data-toggle="dropdown" href="#coding">
          Coding
          </a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="#stat-sw">Statistics Software</a></li>
            <li><a class="page-scroll" href="#math-sw">Mathematics Software</a></li>
            <li><a class="page-scroll" href="#general-purpose-sw">General Purpose</a></li>
            <li><a class="page-scroll" href="#markup-languages">Markup Languages</a></li>
          </ul>
        </li>
        <li>
          <a class="page-scroll" href="#software">Software</a>
        </li>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle disabled page-scroll" data-toggle="dropdown" href="#coding">
          Experience
          </a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="#consulting">Consulting and Research </a></li>
            <li><a class="page-scroll" href="#teaching">Teaching</a></li>
            <li><a class="page-scroll" href="#teaching-related">Teaching Related</a></li>
          </ul>
        </li>
        <li>
          <a class="page-scroll" href="#cv">CV</a>
        </li>
        <li>
          <a class="page-scroll" href="#contactme">Contact</a>
        </li>
      </ul>
    </div>
   
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
