<section class="bg-primary" id="publications">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-14 text-center">
        <h2 class="section-heading"><b>Publications</b></h2>
        <hr class="light">
        <!-- <hr class="primary"> -->
      </div>
    </div>
  </div>
  
  
  <section id="refereed" style="padding-left:0em; padding-top:1em; padding-bottom:0em">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>Refereed Publications</b></h3>
        </div>
      </div>
    </div>
    
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4 class="text-faded">Holbrook, J.A., <b class="text-light">Mudalige, N.</b>, Newman, M., Pereira, R. (2015)</h4>
        <!-- <h4><i><u><a href="http://www.sciencedirect.com/science/article/pii/S0024379515000166" style="color: rgb(255,255,255)"> -->
        <h4><i><u><a href="http://www.sciencedirect.com/science/article/pii/S0024379515000166" class="text-light" target="_blank">
          Bounds on polygons of higher rank numerical ranges </a></u></i>
        </h4>
        <h4 class="text-faded">Linear Algebra and its Applications: Volume 474, 1 June 2015, pages 230-242</h4>
      </div>
    </div>
    
    <!--
    <br>
    <hr style="max-width:840px; background-color:rgba(255, 255, 255, 0.7); height: 1px; border: 0;">
    <br>
    -->
    
    <br>
    <hr class="light" style="max-width:840px; border-width:1px; opacity: 0.7;">
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4 class="text-faded">Holbrook, J.A., <b class="text-light">Mudalige, N.</b>, Pereira, R. (2013)</h4>
        <h4><i><u><a href="https://arxiv.org/abs/1203.3908" class="text-light" target="_blank">
          Normal matrix compressions </a></u></i>
        </h4>
        <h4 class="text-faded">Operators and Matrices (2013): Volume 7, Number 4, pages 849-864</h4>
      </div>
    </div>
    
    <br>
    <hr class="light" style="max-width:840px; border-width:1px; opacity: 0.7;">
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4 class="text-faded">Massam, H., <b class="text-light">Mudalige, N.</b> (2012)</h4>
        <h4><i><u><a href="https://www.researchgate.net/publication/221710848_Normal_matrix_compressions" class="text-light" target="_blank">
          A comment to a microbiology primer for pyrosequencing (P. Kim, M. Costa et al.) </a></u></i>
        <!-- <h4><i><u><a href="https://qbs.kmu.ac.kr:442/!Board/download.php?wd=4&bb_code=1047" class="text-light" target="_blank">
          A comment to a microbiology primer for pyrosequencing (P. Kim, M. Costa et al.) </a></u></i> -->
        </h4>
        <h4 class="text-faded">Quantitative Bio-Science (2012): Vol.31, No.2 A, pages 87-89</h4>
      </div>
    </div>
    
    <br>
    <hr class="light" style="max-width:840px; border-width:1px; opacity: 0.7;">
    <br>
    
  </section>

  
  <section id="textbooks" style="padding-left:0em; padding-top:2em; padding-bottom:0em">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>Textbooks</b></h3>
        </div>
      </div>
    </div>
    
    <br>

    <div class="container">
      <div class="row ex1 text-left">
        <h4 class="text-faded">Kim, P., <b class="text-light">Mudalige, N.</b>, Smith, E. (2016)</h4>
        <h4><i><u><a href="https://drive.google.com/file/d/13oaqKNizsJHQ_QOYYqgpdOIrbAwukZC_/view?usp=sharing" class="text-light" target="_blank">
          Introduction to Statistics: Customized Text for STAT*2060 </a></u></i>
        </h4>
        <h4 class="text-faded">Copyright Kim, Mudalige, Smith (2016)</h4>
      </div>
    </div>
    
    <br>
    <hr class="light" style="max-width:840px; border-width:1px; opacity: 0.7;">
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4 class="text-faded">Diez, D. M., Barr, C. D., Cetinkaya-Rundel, M., <b class="text-light">Mudalige, N.</b> (2014)</h4>
        <h4><i><u><a href="https://drive.google.com/file/d/12_TbJDa1ukQ7tTDs8o3DPulokSlzumnp/view?usp=sharing" class="text-light" target="_blank">
          Introduction to Probability and Statistics: Customized Text for STAT*2060</a></u></i>
        </h4>
        <h4 class="text-faded">Creative Commons Attribution: Copyright Diez, Barr, Cetinkaya-Rundel, Mudalige (2014)</h4>
      </div>
    </div>
    
  </section>
  
  <br>
  <br>
  <br>
  
  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>        
  </center>
  
</section>
