<section class="bg-primary" id="publications">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-14 text-center">
        <h2 class="section-heading"><b>Publications</b></h2>
        <hr class="light">
        <!-- <hr class="primary"> -->
      </div>
    </div>
  </div>
  
  
  <section id="refereed" style="padding-left:0em; padding-top:1em; padding-bottom:0em">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>Refereed Publications</b></h3>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4>Holbrook, J.A., <b>Mudalige, N.C.</b>, Newman, M., Pereira, R. (2015)</h4>
        <h4><i><u><a href="http://www.sciencedirect.com/science/article/pii/S0024379515000166" 
          style="color: rgb(255,255,255)">
          Bounds on polygons of higher rank numerical ranges </a></u></i>
        </h4>
        <h4 class="text-faded">Linear Algebra and its Applications: Volume 474, 1 June 2015, pages 230-242</h4>
      </div>
    </div>
    
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4>Holbrook, J.A., <b>Mudalige, N.C.</b>, Pereira, R. (2013)</h4>
        <h4><i><u><a href="https://arxiv.org/abs/1203.3908" 
          style="color: rgb(255,255,255)">
          Normal matrix compressions </a></u></i>
        </h4>
        <h4 class="text-faded">Operators and Matrices (2013): Volume 7, Number 4, pages 849-864</h4>
      </div>
    </div>
    
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4>Massam, H., <b>Mudalige, N.C.</b> (2012)</h4>
        <h4><i><u><a href="https://qbs.kmu.ac.kr:442/!Board/download.php?wd=4&bb_code=1047" 
          style="color: rgb(255,255,255)">
          A comment to a microbiology primer for pyrosequencing (P. Kim, M. Costa et al.) </a></u></i>
        </h4>
        <h4 class="text-faded">Quantitative Bio-Science (2012): Vol.31, No.2 A, pages 87-89</h4>
      </div>
    </div>
    
  </section>

  
  <section id="textbooks" style="padding-left:0em; padding-top:2em; padding-bottom:0em">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h3 class="section-heading"><b>Textbooks</b></h3>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4>Kim, P., <b>Mudalige, N.C.</b>, Smith, E. (2016)</h4>
        <h4><i><u><a href="https://drive.google.com/file/d/13oaqKNizsJHQ_QOYYqgpdOIrbAwukZC_/view?usp=sharing"
          style="color: rgb(255,255,255)">
          Introduction to Statistics: Customized Text for STAT*2060 </a></u></i>
        </h4>
      </div>
    </div>
    
    <br>
    
    <div class="container">
      <div class="row ex1 text-left">
        <h4>Diez, D. M., Barr, C. D., Cetinkaya-Rundel, M., <b>Mudalige, N.C. (2014)</b></h4>
        <h4><i><u><a href="https://drive.google.com/file/d/12_TbJDa1ukQ7tTDs8o3DPulokSlzumnp/view?usp=sharing"
          style="color: rgb(255,255,255)">
          Introduction to Probability and Statistics: Customized Text for STAT*2060</a></u></i>
        </h4>
        <h4 class="text-faded">Creative Commons Attribution: Copyright Diez, Barr, Cetinkaya-Rundel, Mudalige (2014)</h4>
      </div>
    </div>
    
  </section>
  
  <br>
  <br>
  <br>
  
  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>        
  </center>
  
</section>
