<section class="bg-dark" id="software">
  
  <h2 class="section-heading" align="center"><b>Software Developed</b></h2>
  <hr class="light">
  
  
  <br>
  
  <div class="container-fluid">
    <div class="row no-gutter">
      
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="http://www.boldsystems.org/BOLD.R" class="portfolio-box">
          <img src="img/pictures/trees.jpg" class="img-responsive wow zoomIn" 
            data-wow-delay="0.0s" data-wow-duration="0.25s">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                BOLD.R
              </div>
              <div class="text-faded">
                An R library to interface with the Barcode of Life Database System (BOLD) directly through R.
              </div>
            </div>
          </div>
        </a>
        <h4>BOLD.R</h4>
      </div>
      
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="https://github.com/nishanmudalige/s.harmonic" class="portfolio-box">
          <img src="img/pictures/harp.jpg" class="img-responsive wow zoomIn" 
            data-wow-delay="0.20s" data-wow-duration="0.25s">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                s.harmonic
              </div>
              <div class="text-faded">
                An R library which evaluates spherical harmonics and expresses associated Legendre polynomials.
              </div>
            </div>
          </div>
        </a>
        <h4>s.harmonic</h4>
      </div>
      
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="https://github.com/nishanmudalige/watson.kernel" class="portfolio-box">
          <img src="img/pictures/circles.jpg" class="img-responsive wow zoomIn" 
            data-wow-delay="0.4s" data-wow-duration="0.25s">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                watson.kernel
              </div>
              <div class="text-faded">
                The Watson kernel density estimator for directional data over <i>S<sup>(p-1)</sup></i>
              </div>
            </div>
          </div>
        </a>
        <h4>watson.kernel</h4>
      </div>
      
    </div>
  </div>
  
  
  <br>
  <br>
  
  <center>
    <a href="#page-top" class="btn btn-default btn-xl page-scroll section">Back To Top</a>
  </center>
  
</section>
